@model HRMS.Models.UserOvertime

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmUserOvertime", "tbUserOvertime", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                @*<small>@ViewBag.Title</small>*@
            </h1>
        </section>
    }
}
<script type="text/javascript">
        //$(function () {
        //    $('select').searchableOptionList({
        //        maxHeight: '250px'
        //    });
        //});
</script>
@using (Html.BeginForm("Create", "UserOvertime", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmUserOvertime" }))
{
    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill User Overtime Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">


                            <div class="form-group">
                                @Html.LabelFor(model => model.UserId, new { @class = "" })
                                @Html.DropDownList("UserId", " -Select- ")
                                @Html.StarkDropDownAjaxLink("/User/Create", "AddMore", "")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PresentDate, new { @class = "" })
                                @Html.EditorFor(model => model.PresentDate, new { htmlAttributes = new { @class = "" } })
                                <script>$(function () { $("#PresentDate").datepicker({ format: 'd/m/yy' }); });</script>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.JobTitleId, new { @class = "" })
                                @Html.DropDownList("JobTitleId", " -Select- ")
                                @Html.StarkDropDownAjaxLink("/JobTitle/Create", "AddMore", "")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.GradeId, new { @class = "" })
                                @Html.DropDownList("GradeId", " -Select- ")
                                @Html.StarkDropDownAjaxLink("/Grade/Create", "AddMore", "")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Year, new { @class = "" })
                                @Html.EditorFor(model => model.Year)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Month, new { @class = "" })
                                @Html.EditorFor(model => model.Month)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DailyOTHours, new { @class = "" })
                                @Html.EditorFor(model => model.DailyOTHours)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OvertimeRate, new { @class = "" })
                                @Html.EditorFor(model => model.OvertimeRate)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OvertimeAmount, new { @class = "" })
                                @Html.EditorFor(model => model.OvertimeAmount)
                            </div>




                        </div>
                        <div class="box-footer">
                            @Html.StarkInputButtion("Create New", "submit", "btn btn-primary", "")
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}