@model HRMS.Models.Office

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmOffice", "tbOffice", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                @*<small>@ViewBag.Title</small>*@
            </h1>
        </section>
    }
}
<script type="text/javascript">
    //$(function () {
    //    $('select').searchableOptionList({
    //        maxHeight: '250px'
    //    });
    //});
</script>
@using (Html.BeginForm("Create", "Office", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmOffice" }))
{
    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill Office Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">


                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "" })
                                @Html.EditorFor(model => model.Title)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, new { @class = "" })
                                @Html.EditorFor(model => model.Code)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CreatedOn, new { @class = "" })
                                @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "" } })
                                <script>$(function () { $("#CreatedOn").datepicker({ format: 'd/m/yy' }); });</script>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OfficeTypeId, new { @class = "" })
                                @Html.DropDownList("OfficeTypeId", " -Select- ")
                                @Html.StarkDropDownAjaxLink("/OfficeType/Create", "AddMore", "")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyId, new { @class = "" })
                                @Html.DropDownList("CompanyId", " -Select- ")
                                @Html.StarkDropDownAjaxLink("/Company/Create", "AddMore", "")
                            </div>
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.MapLatitude, new { @class = "" })
                                @Html.EditorFor(model => model.MapLatitude)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MapLongitude, new { @class = "" })
                                @Html.EditorFor(model => model.MapLongitude)
                            </div>*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details, new { @class = "" })
                                @Html.EditorFor(model => model.Details)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fax, new { @class = "" })
                                @Html.EditorFor(model => model.Fax)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Country, new { @class = "" })
                                @Html.EditorFor(model => model.Country)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.City, new { @class = "" })
                                @Html.EditorFor(model => model.City)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ZipCode, new { @class = "" })
                                @Html.EditorFor(model => model.ZipCode)
                            </div>
                            @Html.Hidden("DateAdded", DateTime.Now)
                            @Html.Hidden("AddedBy", Env.GetUserInfo("userid"))




                        </div>
                        <div class="box-footer">
                            @Html.StarkInputButtion("Create New", "submit", "btn btn-primary", "")
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}