@model IEnumerable<HRMS.Models.Office>

@{
    ViewBag.Title = "Office Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string css1 = Url.Content("~/Content/theme/bootstrap/css/bootstrap.min.css");
}

<script type="text/javascript">
   
    var isPosttime = "@ViewBag.timess";


    $(document).ready(function (e) {
        $(".datepicker").datepicker();
    });

</script>

<section class="content" style="background-color: #996600; background-image: url(@Url.Content("~/Content/wood-pattern.png"));">
    <!-- Small boxes (Stat box)  -->
    <div class="row">
	<link href="~/Content/datetimepicker-master/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Content/datetimepicker-master/jquery.datetimepicker.min.js"> </script>
<script src="~/Content/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
<script src="~/Content/datetimepicker-master/build/jquery.datetimepicker.full.js"></script>
<link href="~/Content/theme/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
<script src="~/Content/theme/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/Scripts/custom.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
        <div class="col-md-3">
            <!-- Small boxes (Stat box) -->
            @using (Html.BeginForm("OfficeFull", "Reports", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmreport" }))
            {
                <div class="col-xs-12">
                    <input type="text" class="datepicker" name="FromDate" required style="width: 95%;" placeholder="@ViewBag.FromDate" id="txtCal" />
                    
                </div>

                <div class="clearfix"></div>
                <br />
                <div class="col-xs-12">
                    <input type="text" required name="ToDate" class="datepicker" style="width:95%;" placeholder="@ViewBag.ToDate" id="txtCalTo" />
                   
                </div>
                <div class="clearfix"></div>
                <br />

                <div class="col-md-12">
                    <input class="btn btn-default" value="Get" type="submit">
                </div>

                <div class="clearfix"></div>
                <br /><br /><br />

                <a class="btn btn-app" id="btnPrint">
                    <i class="fa fa-print"></i>
                    Print This
                </a>
            }
        </div>

        <div class="col-md-9">

            <div id="dvContainer" class="content invoice" style=" padding: inherit; min-height: 312mm;margin:0px;width:100%; ">
                @Html.Raw(ViewBag.header)
                <style>
                    @@media print {
                        .headerrow {
                            background-color: #eee !important;
                            -webkit-print-color-adjust: exact;
                        }
                    }

                    td, th {
                        border: 1px solid black;
                    }

                    th {
                        padding: 0px;
                        font-weight: bold;
                        text-align: center;
                        border-top: 1px solid black;
                    }

                    .headerRow {
                        padding: 8px;
                        background-color: #eee !important;
                        -webkit-print-color-adjust: exact;
                    }
                </style>
                <div style="margin-bottom:50px;">

                </div>
                <div class="row" style="font-size:12px;text-align:center;font-weight:bold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">


                    <div style="text-align:center;font-size:30px;font-weight:bold;"> Office Details</div>
                    @Html.Raw(ViewBag.timestring)
                </div>

                <div style="text-align:left;margin-left:40px;">

                    <div class="row">

                        <div class="col-xs-12">

                            <div style="text-align:left;">

                                <div class="col-xs-12">


                                    @if (Model != null)
                                    {
                                        if (Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <div style="margin-bottom:50px;">
                                                    
                                                    <table id="meta" class="table-responsive" style="text-align:left;width:100%;float:left;">
                                                        <tbody>
                                                            <tr>
                                                                <th colspan="2" style="padding:0px;text-align:center;font-size:16px;font-weight:bold"><div class="headerRow">@item.Title</div></th>
</tr>
                                                            <tr>
                                                                <th style="padding:0px; width:30%;"><div class="headerRow">Created on</div></th>
                                                                <td style="text-align:left;">@item.CreatedOn.ToString("dd-MMM-yyyy")</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="padding:0px; width:30%;"><div class="headerRow">Code</div></th>
                                                                <td style="text-align:left;">@item.Code</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="padding:0px; width:30%;"><div class="headerRow">Company</div></th>
                                                                <td style="text-align:left;">@item.Company_CompanyId.Name</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="padding:0px; width:30%;"><div class="headerRow">Map Lattitude</div></th>
                                                                <td style="text-align:left;">@item.MapLatitude</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="padding:0px; width:30%;"><div class="headerRow">Map Longitude</div></th>
                                                                <td style="text-align:left;">@item.MapLongitude</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="padding:0px; width:30%;"><div class="headerRow">Details</div></th>
                                                                <td style="text-align:left;">@item.Details</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="padding:0px; width:30%;"><div class="headerRow">Fax</div></th>
                                                                <td style="text-align:left;">@item.Fax</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="padding:0px; width:30%;"><div class="headerRow">Country</div></th>
                                                                <td style="text-align:left;">@item.Country</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="padding:0px; width:30%;"><div class="headerRow">City</div></th>
                                                                <td style="text-align:left;">@item.City</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="padding:0px; width:30%;"><div class="headerRow">Zip Code</div></th>
                                                                <td style="text-align:left;">@item.ZipCode</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                        <br /><br /><br />
                                            }
                                        }
                                        else
                                        {
                                            
                                                <table class="table table-responsive" style="width:96%">
                                                    <tfoot>
                                                        <tr><td style="border:1px solid #eee;background-color:#eee;">Offices not found between entered dates.Please Choose another Dates.</td></tr>
                                                    </tfoot></table>
                                            
                                        }
                                    }
                                    else
                                    {
                                        <table class="table table-responsive" style="width:96%">
                                            <tfoot>
                                                <tr><td style="border:1px solid #eee;background-color:#eee;">Offices not found between entered dates.Please Choose another Dates.</td></tr>
                                            </tfoot>
                                        </table>
                                    }
                                </div>
                            </div>

                        </div>


                    </div>
                    <div style="height:10px; margin-bottom:20px;">

                    </div>



                </div>

                <div class="row" style="margin-bottom:70px;">
                    <div class="col-xs-12">
                        <div class="col-xs-5" style="padding-left:60px;"> @DateTime.Now.ToString("dd/MMM/yyyy hh:mm:tt")</div>
                        <div class="col-xs-4" style="margin-left:25%;padding-left:80px;">Printed by: @Env.GetUserInfo("name") </div>
                    </div>
                </div>
                <div class="clearfix"></div>


            </div>



        </div>
    </div>

    <div>
        <a class="btn btn-app" id="btnPrint">
            <i class="fa fa-print"></i>
            Print This
        </a>
    </div>
</section>
