@model HRMS.Models.UserTravels

@{
    ViewBag.Title = "Edit";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmUserTravels", "tbUserTravels", true, "Action Successfully Executed")

 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}

<script type="text/javascript">
        //$(function () { 
        //    $('select').searchableOptionList({
        //        maxHeight: '250px'
        //    });
        //});
</script>

@using (Html.BeginForm("Edit", "UserTravels", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmUserTravels"  }))
{
    @Html.AntiForgeryToken()

        <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Edit UserTravels</h3>
                    </div> 
                    <!-- form start -->
  
                    <div role="form">
                        <div class="box-body">
                              

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserId, new { @class = "" })
                                @Html.DropDownList("UserId"," -Select- ") 
                                @Html.StarkDropDownAjaxLink("/User/Create", "AddMore","")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StartDate, new { @class = "" }) 
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "" } })
                                <script> $(function () { $("#StartDate").datepicker({ format: 'd/m/yy' }); }); </script> 
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EndDate, new { @class = "" }) 
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "" } })
                                <script> $(function () { $("#EndDate").datepicker({ format: 'd/m/yy' }); }); </script> 
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurposeOfVisit, new { @class = "" })
                                @Html.EditorFor(model => model.PurposeOfVisit)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PlaceOfVisit, new { @class = "" })
                                @Html.EditorFor(model => model.PlaceOfVisit)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TravelBy, new { @class = "" })
                                @Html.EditorFor(model => model.TravelBy)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ExpectedTravelBudget, new { @class = "" })
                                @Html.EditorFor(model => model.ExpectedTravelBudget)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ActualTravelBudget, new { @class = "" })
                                @Html.EditorFor(model => model.ActualTravelBudget)  
                            </div>
                            <div class="form-group">
                                @Html.Hidden("DateAdded", DateTime.Now) 
                            </div>
                            <div class="form-group">
                                @Html.Hidden("AddedBy", Env.GetUserInfo("userid")) 
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "" })
                                @Html.TextAreaFor(model => model.Description, new { @class = "" }) 
                            </div>


                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            @Html.StarkInputButtion("Save","submit","btn btn-primary","") 
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


