@model HRMS.Models.UserAddress

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
 
<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmUserAddress", "tbUserAddress", true, "Action Successfully Executed")
 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
        //$(function () { 
        //    $('select').searchableOptionList({
        //        maxHeight: '250px'
        //    });
        //});
</script>
@using (Html.BeginForm("Create", "UserAddress", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmUserAddress"  }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill UserAddress Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">
                              

                            <div class="form-group">
                                @Html.LabelFor(model => model.Line1, new { @class = "" })
                                @Html.EditorFor(model => model.Line1)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Line2, new { @class = "" })
                                @Html.EditorFor(model => model.Line2)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.City, new { @class = "" })
                                @Html.EditorFor(model => model.City)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PinCode, new { @class = "" })
                                @Html.EditorFor(model => model.PinCode)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NearBy, new { @class = "" })
                                @Html.EditorFor(model => model.NearBy)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsEmergency, new { @class = "" })
                                @Html.EditorFor(model => model.IsEmergency)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserId, new { @class = "" })
                                @Html.DropDownList("UserId"," -Select- ") 
                                @Html.StarkDropDownAjaxLink("/User/Create", "AddMore","")
                            </div>




                        </div>
                        <div class="box-footer">
                            @Html.StarkInputButtion("Create New","submit","btn btn-primary","") 
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



