@model HRMS.Models.Interview

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>
<link href="~/Content/datetimepicker-master/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Content/datetimepicker-master/jquery.datetimepicker.min.js"> </script>
<script src="~/Content/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
<script src="~/Content/datetimepicker-master/build/jquery.datetimepicker.full.js"></script>
<link href="~/Content/theme/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
<script src="~/Content/theme/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function (e) {

        $('#InterviewTime').datetimepicker({
            datepicker: false,
            format: 'H:i',
            step: 5
        });
    });
</script>

@Html.StarkAjaxFormSubmiter("frmInterview", "tbInterview", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
    //$(function () {
    //    $('select').searchableOptionList({
    //        maxHeight: '250px'
    //    });
    //});
</script>
@using (Html.BeginForm("Create", "Interview", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmInterview" }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill Interview Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">


                            <div class="form-group">
                                @Html.LabelFor(model => model.CandidateName, new { @class = "" })
                                @Html.EditorFor(model => model.CandidateName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "" })
                                @Html.EditorFor(model => model.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mobile, new { @class = "" })
                                @Html.EditorFor(model => model.Mobile)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "" })
                                @Html.TextAreaFor(model => model.Address, new { @class = "" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.JobTitleId, new { @class = "" })
                                @Html.DropDownList("JobTitleId", " -Select- ")
                                @Html.StarkDropDownAjaxLink("/JobTitle/Create", "AddMore", "")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.InterviewDate, new { @class = "" })
                                @Html.EditorFor(model => model.InterviewDate, new { htmlAttributes = new { @class = "" } })
                                <script> $(function () { $("#InterviewDate").datepicker({ format: 'd/m/yy' }); }); </script>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PlaceOfInterview, new { @class = "" })
                                @Html.EditorFor(model => model.PlaceOfInterview)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.InterviewTime, new { @class = "" })
                                @Html.EditorFor(model => model.InterviewTime)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.InterviewBy, new { @class = "" })
                                @Html.DropDownList("InterviewBy", " -Select- ")
                                @Html.StarkDropDownAjaxLink("/User/Create", "AddMore", "")
                            </div>
                            <div class="form-group">
                                @Html.Hidden("DateAdded", DateTime.Now)
                            </div>
                            <div class="form-group">
                                @Html.Hidden("AddedBy", Env.GetUserInfo("userid"))
                            </div>
                            <div class="form-group">
                                @Html.Hidden("ModifiedDate", DateTime.Now)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.InterviewRemarks, new { @class = "" })
                                @Html.TextAreaFor(model => model.InterviewRemarks, new { @class = "ckeditor" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsDone, new { @class = "" })
                                @Html.EditorFor(model => model.IsDone)
                            </div>




                        </div>
                        <div class="box-footer">
                            @Html.StarkInputButtion("Create New", "submit", "btn btn-primary", "")
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



