@model HRMS.Models.UserDetails

@{
    ViewBag.Title = "Details";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        @ViewBag.Title
        @*<small>Details</small>*@
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Detail of UserEmail</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>UserId</td>
                                    <td>@Html.DisplayFor(model => model.UserId)</td>
                                </tr>
                                @*<tr>
                                    <td>ID Card No</td>
                                    <td>@Html.DisplayFor(model => model.CustomId)</td>
                                </tr>*@
                                <tr>
                                    <td>Joining Date</td>
                                    <td>@Html.DisplayFor(model => model.JoiningDate)</td>
                                </tr>
                                <tr>
                                    <td>Father Or Husband Name</td>
                                    <td>@Html.DisplayFor(model => model.FatherOrHusband)</td>
                                </tr>
                                <tr>
                                    <td>Father Or Husband Name</td>
                                    <td>@Html.DisplayFor(model => model.FatherOrHusbandName)</td>
                                </tr>
                                <tr>
                                    <td>Mother Name</td>
                                    <td>@Html.DisplayFor(model => model.MotherName)</td>
                                </tr>
                                <tr>
                                    <td>Present Address Village</td>
                                    <td>@Html.DisplayFor(model => model.PresentAddressVillage)</td>
                                </tr>

                                <tr>
                                    <td>Present Address PO</td>
                                    <td>@Html.DisplayFor(model => model.PresentAddressPO)</td>
                                </tr>
                                <tr>
                                    <td>Present Address Thana</td>
                                    <td>@Html.DisplayFor(model => model.PresentAddressThana)</td>
                                </tr>
                                <tr>
                                    <td>Present Address District</td>
                                    <td>@Html.DisplayFor(model => model.PresentAddressDistrict)</td>
                                </tr>
                                <tr>
                                    <td>Permanent Address Village</td>
                                    <td>@Html.DisplayFor(model => model.PermanentAddressVillage)</td>
                                </tr>

                                <tr>
                                    <td>Permanent Address PO</td>
                                    <td>@Html.DisplayFor(model => model.PermanentAddressPO)</td>
                                </tr>
                                <tr>
                                    <td>Permanent Address Thana</td>
                                    <td>@Html.DisplayFor(model => model.PermanentAddressThana)</td>
                                </tr>
                                <tr>
                                    <td>Permanent Address District</td>
                                    <td>@Html.DisplayFor(model => model.PermanentAddressDistrict)</td>
                                </tr>
                                <tr>
                                    <td>Height</td>
                                    <td>@Html.DisplayFor(model => model.Height)</td>
                                </tr>

                                <tr>
                                    <td>Weight</td>
                                    <td>@Html.DisplayFor(model => model.Weight)</td>
                                </tr>
                                <tr>
                                    <td>Birth mark</td>
                                    <td>@Html.DisplayFor(model => model.Birthmark)</td>
                                </tr>
                                <tr>
                                    <td>Eye Color</td>
                                    <td>@Html.DisplayFor(model => model.EyeColor)</td>
                                </tr>
                                <tr>
                                    <td>Hair Color</td>
                                    <td>@Html.DisplayFor(model => model.HairColor)</td>
                                </tr>
                                <tr>
                                    <td>No Of Teeth</td>
                                    <td>@Html.DisplayFor(model => model.NoOfTeeth)</td>
                                </tr>
                                <tr>
                                    <td>Age</td>
                                    <td>@Html.DisplayFor(model => model.Age)</td>
                                </tr>
                                <tr>
                                    <td>Beard</td>
                                    <td>@Html.DisplayFor(model => model.Beard)</td>
                                </tr>
                                <tr>
                                    <td>Marital Status</td>
                                    <td>@Html.DisplayFor(model => model.MaritalStatus)</td>
                                </tr>
                                <tr>
                                    <td>Child No</td>
                                    <td>@Html.DisplayFor(model => model.ChildNo)</td>
                                </tr>
                                <tr>
                                    <td>Family Member</td>
                                    <td>@Html.DisplayFor(model => model.FamilyMember)</td>
                                </tr>
                                <tr>
                                    <td>Earning Member In Family</td>
                                    <td>@Html.DisplayFor(model => model.EarningMemberInFamily)</td>
                                </tr>
                                <tr>
                                    <td>Religion</td>
                                    <td>@Html.DisplayFor(model => model.Religion)</td>
                                </tr>
                                <tr>
                                    <td>Total Experience</td>
                                    <td>@Html.DisplayFor(model => model.TotalExperience)</td>
                                </tr>
                                <tr>
                                    <td>Email Address</td>
                                    <td>@Html.DisplayFor(model => model.EmailAddress)</td>
                                </tr>
                                <tr>
                                    <td>Land Phone No</td>
                                    <td>@Html.DisplayFor(model => model.LandPhoneNo)</td>
                                </tr>
                                <tr>
                                    <td>Mb Phone No</td>
                                    <td>@Html.DisplayFor(model => model.MbPhoneNo)</td>
                                </tr>
                                <tr>
                                    <td>Is Active</td>
                                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                                </tr>
                                <tr>
                                    <td>Is Emergency</td>
                                    <td>@Html.DisplayFor(model => model.IsEmergency)</td>
                                </tr>
                                <tr>
                                    <td>Involved In Crime</td>
                                    <td>@Html.DisplayFor(model => model.InvolvedInCrime)</td>
                                </tr>
                                <tr>
                                    <td>No Objection Cert</td>
                                    <td>@Html.DisplayFor(model => model.NoObjectionCert)</td>
                                </tr>
                                <tr>
                                    <td>Date Added</td>
                                    <td>@Html.DisplayFor(model => model.DateAdded)</td>
                                </tr>
                                <tr>
                                    <td>Modified Date</td>
                                    <td>@Html.DisplayFor(model => model.ModifiedDate)</td>
                                </tr>


                            </table>
                            <div class="box-footer">
                                @Ajax.ModalDialogActionLink("Edit", "Edit/" + Model.Id, "Edit", "btn btn-primary")

                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>