@model IEnumerable<HRMS.Models.UserDetails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
        @*<small>User Details List </small>*@
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">User Records</h3>
                </div><!-- /.box-header -->

                <div class="box-body table-responsive">

                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                    <br /><br />
                    <div class="widget-sec">
                        <div class="streaming-table">
                            <span id="found" class="label label-info"></span>

                            <table id="tbPages" class="table table-striped table-bordered">
                                <thead>
                                    <tr>

                                        <th>Actions</th>
                                        @*<th> ID  </th>*@
                                        <th> User ID  </th>
                                        <th> User Name  </th>
                                        @*<th> ID Card No </th>*@
                                        <th> Joining Date  </th>
                                        <th> Father Or Husband  </th>
                                        <th> Father Or Husband Name  </th>
                                        <th> Mother Name  </th>
                                        <th> Present Address Village  </th>
                                        <th> Present Address PO  </th>
                                        <th> Present Address Thana  </th>
                                        <th> Present Address District  </th>
                                        <th> Permanent Address Village  </th>
                                        <th> Permanent Address PO  </th>
                                        <th> Permanent Address Thana  </th>
                                        <th> Permanent Address District  </th>
                                        <th> Height  </th>
                                        <th> Weight  </th>
                                        <th> Birthmark  </th>
                                        <th> Eye Color  </th>
                                        <th> Hair Color  </th>
                                        <th> No Of Teeth  </th>
                                        <th> Age  </th>
                                        <th> Beard  </th>
                                        <th> Marital Status  </th>
                                        <th> Child No  </th>
                                        <th> Family Member  </th>
                                        <th> Earning Member In Family  </th>
                                        <th> Religion  </th>
                                        <th> Total Experience  </th>
                                        <th> Email Address  </th>
                                        <th> Land Phone No  </th>
                                        <th> Mb Phone No  </th>
                                        <th> Is Active  </th>
                                        @*<th> Is Emergency  </th>*@
                                        <th> Involved In Crime  </th>
                                        @*<th> No Objection Certificate  </th>*@
                                        @*<th> Date Added </th>
                                        <th> Modified Date </th>*@

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        @*<td> @Html.DisplayFor(modelItem => item.Id) </td>*@
                                        <td> @*@Html.DisplayFor(modelItem => item.UserId)*@ </td>
                                        <td> @Html.DisplayFor(modelItem => item.User_UserId.UserName) </td>
                                        @*<td> @Html.DisplayFor(modelItem => item.CustomId) </td>*@
                                        <td> @Html.DisplayFor(modelItem => item.JoiningDate) </td>
                                        <td> @Html.DisplayFor(modelItem => item.FatherOrHusband) </td>
                                        <td> @Html.DisplayFor(modelItem => item.FatherOrHusbandName) </td>
                                        <td> @Html.DisplayFor(modelItem => item.MotherName) </td>
                                        <td> @Html.DisplayFor(modelItem => item.PresentAddressVillage) </td>
                                        <td> @Html.DisplayFor(modelItem => item.PresentAddressPO) </td>
                                        <td> @Html.DisplayFor(modelItem => item.PresentAddressThana) </td>
                                        <td> @Html.DisplayFor(modelItem => item.PresentAddressDistrict) </td>
                                        <td> @Html.DisplayFor(modelItem => item.PermanentAddressVillage) </td>
                                        <td> @Html.DisplayFor(modelItem => item.PermanentAddressPO) </td>
                                        <td> @Html.DisplayFor(modelItem => item.PermanentAddressThana) </td>
                                        <td> @Html.DisplayFor(modelItem => item.PermanentAddressDistrict) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Height) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Weight) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Birthmark) </td>
                                        <td> @Html.DisplayFor(modelItem => item.EyeColor) </td>
                                        <td> @Html.DisplayFor(modelItem => item.HairColor) </td>
                                        <td> @Html.DisplayFor(modelItem => item.NoOfTeeth) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Age) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Beard) </td>
                                        <td> @Html.DisplayFor(modelItem => item.MaritalStatus) </td>
                                        <td> @Html.DisplayFor(modelItem => item.ChildNo) </td>
                                        <td> @Html.DisplayFor(modelItem => item.FamilyMember) </td>
                                        <td> @Html.DisplayFor(modelItem => item.EarningMemberInFamily) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Religion) </td>
                                        <td> @Html.DisplayFor(modelItem => item.TotalExperience) </td>
                                        <td> @Html.DisplayFor(modelItem => item.EmailAddress) </td>
                                        <td> @Html.DisplayFor(modelItem => item.LandPhoneNo) </td>
                                        <td> @Html.DisplayFor(modelItem => item.MbPhoneNo) </td>
                                        <td> @Html.DisplayFor(modelItem => item.IsActive) </td>
                                        @*<td> @Html.DisplayFor(modelItem => item.IsEmergency) </td>*@
                                        <td> @Html.DisplayFor(modelItem => item.InvolvedInCrime) </td>
                                        @*<td> @Html.DisplayFor(modelItem => item.NoObjectionCert) </td>*@
                                        @*<td> @Html.DisplayFor(modelItem => item.DateAdded) </td>
                                        <td> @Html.DisplayFor(modelItem => item.ModifiedDate) </td>*@

                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="box-footer">
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</section>